.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: #4b7c7a;
}

.image img {
  margin-top: 5vh;
}

.input-field form{
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  align-items: center;
}

.input-field label {
  color: white;
  padding: 20px 0;
  font-weight: bolder;
  text-align: start;
  align-items: start !important;
}

.input-field input {
  padding: 10px;
  border-radius: 162px;
  width: 80vw;
  max-width: 500px;
  background-color: transparent;
  border: 1px solid white;
}

.input-field button {
  padding: 10px;
  border-radius: 43px;
  width: 80vw;
  max-width: 540px;
  background-color: rgb(231, 184, 54);
  color: white;
  font-weight: bold;
  margin-top: 5vh;
}

.error-message{
  color: red;
  padding: 0;
}

@media screen and (max-width: 2560px) {
  .image img {
    margin-top: 30vh;
  }
}

@media screen and (max-width: 1440px) {
  .image img {
    margin-top: 20vh;
  }
}

@media screen and (max-width: 768px) {
  .input-field input {
    width: 90vw;
    max-width: 300px;
  }

  .input-field button {
    width: 90vw;
    max-width: 320px;
  }
}
