body {
  background-image: linear-gradient(
    to right,
    rgb(23, 167, 124),
    rgb(177, 231, 222)
  );
}

.leaderboard {
  height: 641px;
}


.leaderboard-content {
    margin: 200px auto;
    border: 2px solid black;
    width: 350px;
    padding: 20px;
}